/* 메인 */
#main {
  margin: auto;
/*  margin-top: 50px;*/
  border-radius: 1px;
  background-color:#b6c2bd ;
  text-align: center;
/*  width: 50%;*/
  height: 800px;
  float: left;
}
nav{
  width:20%;
  padding:40px;
  float: left;
}
nav ul{
/*  list-style-type: none;*/
  margin-left: 0px;
}
article{
  float: left;
  padding: 20px;
  width: 60%;
}
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

/* 채팅 영역 */
#chat {
  height: 90%;
  width: 100%;
  overflow-y: auto;
}
section::after {
  content: "";
  display: table;
  clear: both;
}
/* 접속 알림 */
.connect {
  width: 90%;
  margin: auto;
  background-color: #8fa5c7;
  text-align: center;
  margin-top: 10px;
}

.lastword {
  width: 90%;
  margin: auto;
  background-color: #cedecc;
  text-align: center;
  margin-top: 10px;
}

/* 접속 종료 알림 */
.disconnect {
  width: 90%;
  margin: auto;
  background-color: #d69fc4;
  text-align: center;
  margin-top: 10px;
}

/* 내가 보낸 메시지 */
.me {
  width: 90%;
  margin: auto;
  background-color: #edc5de;
  border-radius: 5px;
  margin-top: 10px;
}

/* 상대방이 보낸 메시지 */
.other {
  width: 90%;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
}
#lastword{
  opacity: 0;
  visibility: hidden;
  transition: .6s opacity, .6s visibility;
}
#seconds{
  opacity: 0;
  visibility: hidden;
  transition: .6s opacity, .6s visibility;
}
#loser{
  opacity: 0;
  visibility: hidden;
  transition: .6s opacity, .6s visibility;
}

/*프롬프트 디자인*/
* {
  box-sizing: border-box;
}

.prompt {
  /* make the backgronud full screen */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(20,40,40,.27);
  
  /* make it show on top of all other elements */
  z-index: 999;
  
  /* hide the prompt by default */
  visibility: hidden;
  opacity: 0;
  
  transition: .6s opacity, .6s visibility;
}

.prompt__form {
  /* center the prompt window */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
  width: 400px;
  padding: 1em;
  
  background: #eeeeee;
}

.prompt--show {
  visibility: visible;
  opacity: 1;
}

.prompt__input {
  width: 60%;
/*  height : 60px;*/
  float: left;
}

.prompt__submit {
  width: 15%;
/*  height: 60px;*/
  margin-left: 20px;
  float: left;
}

/*애니메이션 타이머*/

.base-timer {
  position: relative;
  height: 200px;
  width: 200px;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
  fill: none;
  stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
  stroke-width: 4px;
  stroke: grey;
}
.base-timer__label {
  position: absolute;
  
  /* Size should match the parent container */
  width: 200px;
  height: 200px;
  
  /* Keep the label aligned to the top */
  top: 0;
  
  /* Create a flexible box that centers content vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Sort of an arbitrary number; adjust to your liking */
  font-size: 48px;
}

/*stroke passes*/
.base-timer__path-remaining {
  /* Just as thick as the original ring */
  stroke-width: 7px;
  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;
  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;
  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;
  /* Allows the ring to change color when the color value updates */
  stroke: currentColor;
}
.base-timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(-1);
}
.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}